.container-all{
    width: 100%;
    max-width:1000px;
    margin:auto;
    background: #b5d0e2;
    margin-top: 20px;
    border-top: 6px, solid #1c4b41 ;
}

.tittle{
    color:#16A085;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sub.tittle{
    font-size: 30px;
    font-weight: 400;;
    color:aliceblue;
    font-family: 'Times New Roman', Times, serif;
}

.container-all img{
    width: 350px;
    float: right;
    margin-right: 0px;
}
.menu{
    max-width: 250px;
    width:100%;
    position:relative;
    margin-left: 40%;
}

.item{
    height: 36px;
    padding: 0 20px;
    position: relative;
    z-index: 3;
    text-align: center;
    font-size: 18px;
    line-height: 48px;
    cursor:pointer;
    text-decoration: none;
    color:aliceblue;
    font-family: sans-serif;
    display: block;
}
.back-menu{
    position:absolute;
    top: 0;
    left: 0;
    height: 46px;
    width: 100%;
    background:#85C1E9;
    border-radius: 50px;
    z-index:2;
    transition: 0.3s;
}
.container-all b {
    font-size: 20px;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;

}
.container .enlace a {
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: #A3E4D7;
}